.home {
    background-image: url('../images/image-53.png'); /* Adjust path as needed */
    background-position: center;
    background-size: cover;
    width: 100%;
    float: left;
    background-attachment: fixed;
    padding: 30px;
  }

  .home-section{
    margin-top: 160px;
    margin-bottom: 260px;
  }

  .home-head{
    color: white;
    font-weight: 800;
  }

  .home-text{
    color: white;
    font-weight: bold;
    margin-top: 30px;
  }

  .btn{
    width: 100%;
    height: 40px;
    margin-top: 40px;
    background-color: rgb(255, 156, 63);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: background 1s, tranform 2s;
  }
  
  .btn:hover{
      background: rgb(37, 37, 37);
  }

  .footer{
    height: 70px;
    width: 100%;
    background: rgb(17, 17, 36);
    margin-top: 180px;
    color: white;
    font-weight: lighter;
    display: flex;
    justify-content: center;
  }

  .footer p{
    margin-top: 20px;
  }

  /* -------------host-------------- */


  .host-links{
    display: flex;
    margin-top: 30px;
  }

  .active{
    border: none;
    border-bottom: 2px solid grey;
}

.host-link{
  text-decoration: none;
  color: black;
  font-weight: bolder;
  padding: 20px;
}

.welcome{
  width: 100%;
  height: 200px;
  background: #FFEAD0;
  padding: 40px;
}

.last30days{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 15px;
}

.daylink{
  color: black;
}

.list{
  width: 100%;
  height: 400px;
  background: #faecda;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.review{
  width: 100%;
  height: 100px;
  background: #FFDDB2;
  padding: 40px;
}

.score-review{
  display: flex;
  justify-content: space-between;
}

.income-content{
  width: 100%;
  float: left;
  background: #FFF7ED;
  padding: 40px;
}

.img7{
  margin-top: 30px;
  width: 400px;
}

.listed-vans h1{
  margin-top: 20px;
}

/* .listed-vans{
  display: flex;
  justify-content: center;
} */

.vanshost{
  padding: 40px;
  background: #FFF7ED;

}

.backhost{
  padding: 30px;
}

.income-content h1{
  margin-top: 30px;
}

.income-content h5{
  margin-top: 30px;
}

.incoimg{
  width: 400px;
  margin-top: 30px;
}

.your-trans{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.reviewpic{
  width: 400px;
  margin-top: 50px;
}

.reviews{
  padding: 40px;
  height: 100vh;
}

.star{
  margin-top: 30px;
}

.eliot{
  width: 400px;
}

.eliott{
  width: 400px;
}








































  @media (min-width:400px) and (max-width:500px){
    .home-head{
      br{
        display: none;
      }
    }

    
  }
  