.active{
    border: none;
    border-bottom: 2px solid grey;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}

nav .title{
    margin: 30px;
    text-decoration: none;
    color: black;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: rgb(26, 26, 26);
    margin: 0 0.5rem;
    margin-right: 20px;
}

nav ul li a:not(.active):hover{
    border: none;
    color: orange;
}

.host {
    display: none; /* Default state to hide */
  }
  
  .host.show {
    display: block; /* Only show when class 'show' is added */
  }
  